<div style="margin-left: 25%; margin-right: 25%">
    <h1>BSNO API</h1>
    <p>N.B: to return the right statistics for most queries an event_id is needed, otherwise it will default to event 0. Event id's can be found at <a href="events">bsno.dylannz.com/api/events</a></p>
    <!-- Population -->
    <div class="query">
        <h3>Get Currently Logged In Players</h3>
        <h5><a href="current_players">bsno.dylannz.com/api/current_players</a></h5>
        <p style="font-style: italic">Returns the current count of logged in Briggs players, and the count of each faction</p>
        <p>Example result: </p>
        <p>{{current_players_example}}</p>
    </div>
    <br>
    <!-- Player kill statistics for an event -->
    <div class="query">
        <h3>Get the kills/deaths/headshots of players in an event</h3>
        <h5><a href="player_kdh?event_id=">bsno.dylannz.com/api/player_kdh?event_id=</a></h5>
        <p style="font-style: italic">Returns the kills/deaths/headshots of everyplayer that participated in an event. Event_id needed</p>
        <p>Example result: </p>
        <p>{{player_kdh_example}}</p>
    </div>
    <br>
    <!-- Outfit kill statistics for an event -->
    <div class="query">
        <h3>Get the kills/deaths/headshots of players in an event</h3>
        <h5><a href="player_kdh?event_id=">bsno.dylannz.com/api/outfit_kdh?event_id=</a></h5>
        <p style="font-style: italic">Returns the kills/deaths/headshots of everyplayer that participated in an event. Event_id needed</p>
        <p>Example result: </p>
        <p>{{outfit_kdh_example}}</p>
    </div>
    <br>
    <!-- Outfit - Facility interactions for an event -->
    <div class="query">
        <h3>Get outfit's capture/defenses in an event</h3>
        <h5><a href="facilities?event_id">bsno.dylannz.com/api/facilities?event_id=</a></h5>
        <p style="font-style: italic">Returns the capture/defenses of outfits involved in the specified event. Event_id needed</p>
        <p>Example result: </p>
        <p>{{facilities_example}}</p>
    </div>
    <br>
    <!-- Player leaderboard for an event-->
    <div class="query">
        <h3>Player leaderboard for an event</h3>
        <h5><a href="player_leaderboard?event_id=">bsno.dylannz.com/api/player_leaderboard?event_id=</a></h5>
        <p style="font-style: italic">Returns the top 25 characters in 7 categories (Kills, Deaths, Headshots, Shielding, Healing, Reviving, Resupplying). Event_id needed</p>
        <p>Example result: </p>
        <p>{{player_leaderboard_example}}</p>
    </div>
    <br>
    <!-- Outfit leaderboard for an event-->
    <div class="query">
        <h3>Player leaderboard for an event</h3>
        <h5><a href="player_leaderboard?event_id=">bsno.dylannz.com/api/player_leaderboard?event_id=</a></h5>
        <p style="font-style: italic">Returns the top 25 characters in 7 categories (Kills, Deaths, Headshots, Shielding, Healing, Reviving, Resupplying). Event_id needed</p>
        <p>Example result: </p>
        <p>{{outfit_leaderboard_example}}</p>
    </div>
    <br>
</div>